# Carpeta de entorno virtual
venv/
env/
.env/

# Carpetas de cache de Python
__pycache__/
*.py[cod]
.qodo

# Carpetas de IDE
.vscode/
.idea/
*.swp

# Carpetas de dependencias y compilados
node_modules/
dist/
build/
*.egg-info/

# Archivos de configuración local


